<?xml version="1.0"?>
<config>
    <modules>
        <VTI_VTISeoCore>
            <version>1.0.0</version>
        </VTI_VTISeoCore>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <vtiseocore>
                    <file>vtiseo_admin.xml</file>
                </vtiseocore>
            </updates>
        </layout>
        <translate>
            <modules>
                <VTI_VTISeoCore>
                    <files>
                        <default>VTI_VTISeoCore.csv</default>
                    </files>
                </VTI_VTISeoCore>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <vtiseocore>
                    <file>vtiseo.xml</file>
                </vtiseocore>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <vtiseo before="Mage_Adminhtml">VTI_VTISeoCore_Adminhtml</vtiseo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <eav_attributes>
            <catalog_product>
                <name>
                    <code>name</code>
                    <locked_fields>
                        <is_unique/>
                    </locked_fields>
                </name>
            </catalog_product>
        </eav_attributes>
        <models>
            <vtiseocore>
                <class>VTI_VTISeoCore_Model</class>
                <resourceModel>cleanup_mysql4</resourceModel>
            </vtiseocore>
            <sitemap>
                <rewrite>
                    <sitemap>VTI_VTISeoCore_Model_Sitemap_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <helpers>
            <vtiseocore>
                <class>VTI_VTISeoCore_Helper</class>
            </vtiseocore>
        </helpers>
        <blocks>
            <vtiseocore>
                <class>VTI_VTISeoCore_Block</class>
            </vtiseocore>
        </blocks>
        <resources>
            <vtiseo_setup>
                <setup>
                    <module>VTI_VTISeoCore</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vtiseo_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <vti_vtiseocore>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>vtiseocore/cleanup::doCleanup</model>
                </run>
            </vti_vtiseocore>
            <vti_vtiseocore_image_sitemap>
                <schedule>
                    <cron_expr>42 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>vtiseocore/sitemap_image::create</model>
                </run>
            </vti_vtiseocore_image_sitemap>
        </jobs>
    </crontab>
    <frontend>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <noindex>
                        <type>singleton</type>
                        <class>vtiseocore/observer</class>
                        <method>changeRobots</method>
                    </noindex>
                    <universal_analytics>
                        <type>singleton</type>
                        <class>vtiseocore/observer</class>
                        <method>setUA</method>
                    </universal_analytics>
                </observers>
            </controller_action_layout_generate_xml_before>
            <controller_action_noroute>
                <observers>
                    <vtiseo_discontinued>
                        <type>singleton</type>
                        <class>vtiseocore/observer</class>
                        <method>discontinuedCheck</method>
                    </vtiseo_discontinued>
                </observers>
            </controller_action_noroute>
            <http_response_send_before>
                <observers>
                    <vtiseo_keyword>
                        <type>singleton</type>
                        <class>vtiseocore/observer</class>
                        <method>applyTag</method>
                    </vtiseo_keyword>
                </observers>
            </http_response_send_before>
            <catalog_controller_product_view>
                <observers>
                    <vtiseo_forcecanonical>
                        <type>singleton</type>
                        <class>vtiseocore/observer</class>
                        <method>forceProductCanonical</method>
                    </vtiseo_forcecanonical>
                </observers>
            </catalog_controller_product_view>
            <!--<catalog_controller_category_init_after>-->
                <!--<observers>-->
                    <!--<vtiseo_heading>-->
                        <!--<type>singleton</type>-->
                        <!--<class>vtiseocore/observer</class>-->
                        <!--<method>seoHeading</method>-->
                    <!--</vtiseo_heading>-->
                <!--</observers>-->
            <!--</catalog_controller_category_init_after>-->
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <vtiseo_contactsmeta>
                        <type>singleton</type>
                        <class>vtiseocore/observer</class>
                        <method>contactsMetaData</method>
                    </vtiseo_contactsmeta>
                    <settitle>
                        <type>singleton</type>
                        <class>vtiseocore/observer</class>
                        <method>setTitle</method>
                    </settitle>
                    <setdescription>
                        <type>singleton</type>
                        <class>vtiseocore/observer</class>
                        <method>setDescription</method>
                    </setdescription>
                    <forcehptitle>
                        <type>singleton</type>
                        <class>vtiseocore/observer</class>
                        <method>forceHomepageTitle</method>
                    </forcehptitle>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
    <adminhtml>
        <events>
           <admin_system_config_changed_section_vtihtaccess>
                <observers>
                    <vtiseo_writehtaccess>
                        <type>singleton</type>
                        <class>vtiseocore/observer</class>
                        <method>writeToFileOnConfigSave</method>
                    </vtiseo_writehtaccess>
                </observers>
            </admin_system_config_changed_section_vtihtaccess>
            <admin_system_config_changed_section_vtirobots>
                <observers>
                    <vtiseo_writerobots>
                        <type>singleton</type>
                        <class>vtiseocore/observer</class>
                        <method>writeToFileOnConfigSave</method>
                    </vtiseo_writerobots>
                </observers>
            </admin_system_config_changed_section_vtirobots>
            <controller_action_predispatch>
                <observers>
                    <vtiseo_savefileconfig>
                        <type>singleton</type>
                        <class>vtiseocore/observer</class>
                        <method>saveConfigOnConfigLoad</method>
                    </vtiseo_savefileconfig>
                    <!-- Below observer depreciated in 1.2 as the
                    script causes need to reindex on every product save.
                    <processcheck>
                        <type>singleton</type>
                        <class>vtiseocore/observer</class>
                        <method>productCheck</method>
                    </processcheck>-->
                </observers>
            </controller_action_predispatch>
            <catalog_product_gallery_prepare_layout>
                <observers>
                    <vtiseo_mandatory_alt>
                        <type>singleton</type>
                        <class>vtiseocore/observer</class>
                        <method>setMandatoryAltTag</method>
                    </vtiseo_mandatory_alt>
                </observers>
            </catalog_product_gallery_prepare_layout>
        </events>
    </adminhtml>
    <default>
        <vtiseocore>
            <defaultseo>
                <metakw>1</metakw>
                <noindexparams>1</noindexparams>
                <mandatory_alt>0</mandatory_alt>
                <noindexparamssearch>1</noindexparamssearch>
                <noindexparamsgallery>1</noindexparamsgallery>
                <noindexparamscart>1</noindexparamscart>
                <noindexparamsaccount>1</noindexparamsaccount>
                <noindexparamsparameterpages>0</noindexparamsparameterpages>
                <duplicate>0</duplicate>
                <category_h1>1</category_h1>
                <forcecanonical>1</forcecanonical>
                <forcehptitle>1</forcehptitle>
                <enablecmscanonical>1</enablecmscanonical>
                <cms_canonical_protocol>http://</cms_canonical_protocol>
                <cms_canonical_slashes>1</cms_canonical_slashes>
            </defaultseo>
            <googleanalytics>
                <type>0</type>
                <enable_demographics>0</enable_demographics>
            </googleanalytics>
            <cleanup>
                <active>1</active>
                <logdb>1</logdb>
                <cachefolder>0</cachefolder>
                <enablecache>1</enablecache>
            </cleanup>
            <social>
                <enabled>0</enabled>
            </social>
            <metadata>
                <product_title_enabled>0</product_title_enabled>
                <product_title>[name] - [store]</product_title>
                <product_metadesc_enabled>0</product_metadesc_enabled>
                <product_metadesc>[name], [store]</product_metadesc>
                <category_title_enabled>0</category_title_enabled>
                <category_title>[original_name] - [store]</category_title>
                <category_metadesc_enabled>0</category_metadesc_enabled>
                <category_metadesc>[original_name] [store]</category_metadesc>
                <cms_metadesc_enabled>0</cms_metadesc_enabled>
                <cms_metadesc>[title] - [store]</cms_metadesc>
            </metadata>
            <product_schema>
                <enabled>1</enabled>
            </product_schema>
            <breadcrumbs_schema>
                <enabled>1</enabled>
            </breadcrumbs_schema>
            <social_schema>
                <enabled>0</enabled>
            </social_schema>
            <address_schema>
                <enabled>0</enabled>
            </address_schema>
            <logo_schema>
                <enabled>1</enabled>
            </logo_schema>
            <google_tag_manager>
                <enabled>0</enabled>
            </google_tag_manager>
            <sitelinksearch>
                <enabled>1</enabled>
            </sitelinksearch>
            <imagesitemap>
                <enabled>0</enabled>
                <path>sitemaps/images/sitemap.xml</path>
            </imagesitemap>
        </vtiseocore>
    </default>
</config>
