<config>
    <tabs>
        <vtigroup translate="label" module="vtiseocore">
            <label>SEO Settings</label>
            <sort_order>100</sort_order>
        </vtigroup>
    </tabs>
    <sections>
        <vtiseocore translate="label" module="vtiseocore">
            <label>General Settings</label>
            <tab>vtigroup</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <defaultseo translate="label" module="vtiseocore">
                    <label>SEO Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <noindexparams translate="label">
                            <label>Apply NOINDEX to filtered category pages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </noindexparams>
                        <noindexparamssearch translate="label">
                            <label>Apply NOINDEX to Search Results</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </noindexparamssearch>
                        <noindexparamsparameterpages translate="label">
                            <label>Apply NOINDEX to Parameter Pages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </noindexparamsparameterpages>
                        <enablecmscanonical>
                            <label>Enable CMS Canonical Meta Tags</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enablecmscanonical>
                        <cms_canonical_protocol>
                            <label>Use standard or secure URLs in CMS canonical tags?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>vtiseocore/source_protocols</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enablecmscanonical>1</enablecmscanonical>
                            </depends>
                        </cms_canonical_protocol>
                        <cms_canonical_slashes>
                            <label>Add slashes to end of canonical CMS URL?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enablecmscanonical>1</enablecmscanonical>
                            </depends>
                        </cms_canonical_slashes>
                    </fields>
                </defaultseo>
            </groups>
        </vtiseocore>
    </sections>
</config>
