<config>
    <tabs>
        <vtigroup translate="label" module="vtiseocore">
            <label>SEO Settings</label>
            <sort_order>100</sort_order>
        </vtigroup>
    </tabs>
    <sections>
        <vtiseocore translate="label" module="vtiseocore">
            <label>General Settings</label>
            <tab>vtigroup</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <defaultseo translate="label" module="vtiseocore">
                    <label>SEO Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <metakw translate="label">
                            <label>Disable Meta Keywords Tag and Empty Meta Description Tags?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </metakw>
                        <mandatory_alt translate="label">
                            <label>Make "alt" tags mandatory on product gallery images?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mandatory_alt>
                        <noindexparams translate="label">
                            <label>Apply NOINDEX to filtered category pages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </noindexparams>
                        <noindexparamssearch translate="label">
                            <label>Apply NOINDEX to Search Results</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </noindexparamssearch>
                        <noindexparamsparameterpages translate="label">
                            <label>Apply NOINDEX to Parameter Pages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </noindexparamsparameterpages>
                        <forcecanonical translate="label">
                            <label>Enable Canonical Product Redirecting</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </forcecanonical>
                        <enablecmscanonical>
                            <label>Enable CMS Canonical Meta Tags</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enablecmscanonical>
                        <cms_canonical_protocol>
                            <label>Use standard or secure URLs in CMS canonical tags?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>vtiseocore/source_protocols</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enablecmscanonical>1</enablecmscanonical>
                            </depends>
                        </cms_canonical_protocol>
                        <cms_canonical_slashes>
                            <label>Add slashes to end of canonical CMS URL?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enablecmscanonical>1</enablecmscanonical>
                            </depends>
                        </cms_canonical_slashes>
                    </fields>
                </defaultseo>
                <metadata>
                    <label>Default Page Titles and Meta Descriptions</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>80</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>
                        <![CDATA[
                        <p>Enabling the 'Default Page Titles and Meta Descriptions’ feature will dynamically create unique Page Titles and Meta Descriptions for your Category and Product pages. If you subsequently define Page Titles or Meta Descriptions </p>
                        ]]>
                    </comment>
                    <fields>
                        <product_title_enabled>
                            <label>Enable Default Product Title?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_title_enabled>
                        <product_title>
                            <label>Default Product Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><product_title_enabled>1</product_title_enabled></depends>
                            <comment><![CDATA[
                                <small>[name] = Product Name<br />
                                [store] = Store Name<br />
                                [attribute_code] = Attribute Value<br />
                                [first_category] = First Category Found<br />
                                [categories] = Outputs all categories comma-separated<br />
                                <strong>For example: [name] - [store].</strong></small>
                        ]]></comment>
                        </product_title>
                        <product_metadesc_enabled>
                            <label>Enable Default Product Meta Description?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_metadesc_enabled>
                        <product_metadesc>
                            <label>Default Product Meta Description</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><product_metadesc_enabled>1</product_metadesc_enabled></depends>
                            <comment><![CDATA[
                                <small>[name] = Product Name<br />
                                [store] = Store Name<br />
                                [attribute_code] = Attribute Value<br />
                                [first_category] = First Category Found<br />
                                [categories] = Outputs all categories comma-separated<br />
                                <strong>For example: Buy [name] online from our [store]. See our other [brand] products.</strong></small>
                        ]]></comment>
                        </product_metadesc>
                        <category_title_enabled>
                            <label>Enable Default Category Title?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </category_title_enabled>
                        <category_title>
                            <label>Default Category Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><category_title_enabled>1</category_title_enabled></depends>
                            <comment><![CDATA[
                                <small>[name] = Category Name<br />
                                [original_name] = Original Category Name (if category heading rewrites is enabled)<br />
                                [store] = Store Name<br />
                                <strong>For example: [name] - [store].</strong></small>
                        ]]></comment>
                        </category_title>
                        <category_metadesc_enabled>
                            <label>Enable Default Category Meta Description?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </category_metadesc_enabled>
                        <category_metadesc>
                            <label>Default Category Meta Description</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><category_metadesc_enabled>1</category_metadesc_enabled></depends>
                            <comment><![CDATA[
                                <small>[name] = Category Name<br />
                                [original_name] = Original Category Name (if category heading rewrites is enabled)<br />
                                [store] = Store Name<br />
                                <strong>For example: Browse our [name] products at [store].</strong></small>
                        ]]></comment>
                        </category_metadesc>
                        <cms_metadesc_enabled>
                            <label>Enable Default CMS Meta Description?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cms_metadesc_enabled>
                        <cms_metadesc>
                            <label>Default CMS Meta Description</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><cms_metadesc_enabled>1</cms_metadesc_enabled></depends>
                            <comment><![CDATA[
                                <small>[title] = CMS Page Name<br />
                                [store] = Store Name</small><br />
                                <strong>For example: [title] - [store].</strong></small>
                        ]]></comment>
                        </cms_metadesc>
                    </fields>
                </metadata>
            </groups>
        </vtiseocore>
    </sections>
</config>
